#circle{
    width: 90px;
    height: 90px;
    background-color: green;
}


.navbar{
    background-color: rgb(255, 255, 255);
}

#h5{
    margin-top: 30px;
    margin-left: 10px;
}

.main{
    margin-top: 40px;
    background-color: rgb(206, 206, 206);
}

.p-added{
    width: 100%;
    height: 300px;
    background-color: rgb(214, 214, 214);
}

#headings{
    margin-top: 10px;
}

.btnn{
    border: none;
    margin-top: 20px;
    width: 100px;
    height: 40px;
}

.row{
    margin-top: 20px;
}

.coloums{
    height: 150px;
    background-color: rgb(173, 173, 173);
}

.footer{
    background-color: black;
    margin-top: 20px;
    width: 100%;
    height: 100px;
}

#circle-black{
    margin-top: 5px;
    width: 90px;
    height: 90px;
    background-color: green;
}

#h{
    margin-top: 30px;
    margin-left: 10px;
    color: white;
}